.container{
    height: calc(100vh - 100px);
    display: flex;
}
.left{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    flex: 1;
    padding: 50px;
}
.imgContainer{
    width: 80%;
    height: 80%;
    position: relative;
}
.price{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    border-bottom: 3px solid var(--primary-color);
}
.sizes{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.size{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.size:nth-child(2){
    width: 40px;
    height: 40px;
}
.size:last-child{
    width: 50px;
    height: 50px;
}
.number{
    position: absolute;
    top: -5px;
    right: -20px;
    background-color: teal;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.ingredients{
    display: flex;
    margin-bottom: 20px;
}
.option{
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.checkbox{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.quantity{
    width: 50px;
    height: 30px;
}
.button{
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
    height: 30px;
}
@media screen and (max-width: 480px){
    .container{
        height: auto;
        text-align: center;
        flex-direction: column;
    }
    .imgContainer{
        height: 40vh;
        width: 40vh;
        margin-top: 20px;
    }
    .sizes{
        width: 80%;
        padding: 0 20px;
    }
    .ingredients{
        flex-direction: column;
    }
    .option{
        margin: 10px;
        font-size: 18px;
    }
    .checkbox{
        width: 25px;
        height: 25px;
    }
    .quantity, .button{
        height: 45px;
        padding: 10px 20px;
    }
    .button{
        margin-bottom: 30px;
    }
}