.container{
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
}
.title{
    color: var(--primary-color);
}
.price{
    font-weight: 600;
    color: #666;
    font-size: 18px;
}
.desc{
    /* font-weight: 600; */
    color: #777;
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    .title{
        font-size: 30px;
    }
    .price{
        font-size: 24px;
    }
}